node_modules
# Keep environment variables out of version control
.env

/dev.db

/src/generated/prisma

# תוצרי build
dist

# בסיס הנתונים המקומי (SQLite) - לא רוצים לדחוף אותו ל-git
prisma/*.db
prisma/*.db-journal

# לוגים וקבצי מערכת
*.log
.DS_Store
